// body {
//     position: relative;
//     left: 0;
//     overflow-x: hidden;
// }

h1 {
  font-size: 36px;
  font-weight: bold;
}

a:link {
  color: white;
}
a:visited {
  color: white
}

.pt_14 {
  padding-top:140px;
}

.container.under_navbar{
  padding-top: 140px;
}

.main {
}

.spaceAround {
  justify-content: space-around;
}

.bg_lg {
  width: 100%;
}

.c_lg {
  background-color: $l-green;
}

.c_pw {
  background-color: $p-white;
}

// adding color class
.neg_btn_color {
  background-color: $close_pink;
}
