// ==color codes==
$l-blue: #D9F4FE;
$l-green: #e0ff96;
$l-orange: #F7CD74;
$p-white: #F5F4F0;
$close_pink: #ec407a;

// カードの背景色
$idc: #84ffff;
$stv: #ff80ab;
$idh: #00deab;
$sdh: #e16b00;
$hyb: #008e06;



$myGreen: #46D89E;
$myGreen2: #A3EBCE;
$myGreen3: #21A700;
$error: #C52F24;
$searchBar: #F5F8FA;
$searchBoarder: #E6ECF0;

// フラッシュ
$error: #ff1744;
$myGreen: #46D89E;

$topLinkable: #004d40;
$blankStar: #9E9E9E;