// ==color codes==
$l-blue: #D9F4FE;
$l-green: #B1D45B;
$l-orange: #F7CD74;

$myGreen: #46D89E;
$myGreen2: #A3EBCE;
$myGreen3: #21A700;
$error: #C52F24;
$searchBar: #F5F8FA;
$searchBoarder: #E6ECF0;

